---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    <div style="display: flex; justify-content: space-between;">

      <!-- 이전 포스트로 가는 링크 -->
      {% if page.previous %}
        <div style="text-align: left;">
          &lt;&lt; <a href="{{ page.previous.url }}">이전 포스트: {{ page.previous.title }}</a>
        </div>
      {% endif %}

      <!-- 다음 포스트로 가는 링크 -->
      {% if page.next %}
        <div style="text-align: right;">
          <a href="{{ page.next.url }}">다음 포스트: {{ page.next.title }}</a> &gt;&gt;
        </div>
      {% endif %}

    </div>

    <!-- {% include nav-share.html %} -->

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
